{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%} {% for page in layout %}

<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
        {{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
    </div>

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Start Content -->
    {% for section in page %}
    <div class="row section-break">
        {%- if doc._line_breaks and loop.index != 1 -%}
        <hr>{%- endif -%}
        {%- if doc._show_section_headings and section.label and section.has_data -%}
        <h4 class='col-sm-12'>{{ _(section.label) }}</h4>
        {%- endif -%}
        {% for column in section.columns %}
        <div class="col-xs-{{ (12 / section.columns|len)|int }} column-break">
            {% for df in column.fields %}
            {% if df.fieldname == "items" %}
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th width="5%">{{ _("Sr") }}</th>
                        <th width="15%">{{ _("Image") }}</th>
                        {% if doc.purpose == _("Material Issue") %}
                        <th width="10%">{{__("Source Warehouse")}}</th>
                        {% elif doc.purpose == _("Material Receipt") %}
                        <th width="10%"> {{ _("Target Warehouse") }} </th>
                        {% else %}
                        <th width="10%">{{ _("Source Warehouse") }}</th>
                        <th width="10%">{{ _("Target Warehouse") }}</th>
                        {% endif %}
                        <th width="15%"> {{ _("Item Code") }} </th>
                        <th width="15%"> {{ _("Item Name") }} </th>
                        <th width="10%"> {{ _("Qty") }} </th>
                        <th width="10%"> {{ _("ASIN") }} </th>
                        <th width="10%"> {{ _("Barcode") }} </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in doc.items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{% if row.image %} <img src="{{ row.image }}" alt="{{ row.item_name }}">{% endif %}</td>
                        {% if doc.purpose == _("Material Issue") %}
                        <td>{{ row.s_warehouse }}</td>
                        {% elif doc.purpose == _("Material Receipt") %}
                        <td> {{ row.t_warehouse }} </td>
                        {% else %}
                        <td>{{ row.s_warehouse or "" }}</td>
                        <td>{{ row.t_warehouse or "" }}</td>
                        {% endif %}
                        {%  set item_details = frappe.db.get_value("Item", row.item_code, ["asin", "barcode"]) %}
                        {%  set item_barcodes = frappe.db.get_value("Item Barcode", {"parent": row.item_code},["barcode"]) %}

                        <td>{{ row.item_code }}</td>
                        <td>{{ row.item_name or "" }}</td>
                        <td>{{ row.get_formatted('qty') or "" }} {{ row.uom }}</td>
                        {% if item_details %}
                        <td>{{ item_details[0] or "" }}</td>

                        {% else %}

                        <td></td><td></td><td></td>
                        {% endif %}
                        <td>{{ item_barcodes or "" }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {{ render_field(df, doc) }}
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <!-- End Content -->
</div>
{% endfor %}