<div class="row">
     <div class="col-xs-12">
    <img src="/files/Papierdrachen_-_Liebe_zum_Schenken_400Px.jpg" width="150px">
         </div>
</div>

<div class="print-heading">
    <h2>Stückliste<br><small>{{ doc.name }}</small></h2>
</div>

<div class="row">
     <div class="col-xs-2">
       <b>  Item Name </b>
         </div>
    <div class="col-xs-4">
        {{ doc.item_name }}
    </div>
    <div class="col-xs-3">
       <b> Date of Creation </b>
         </div>
      <div class="col-xs-3">
        {{ doc.creation }}
    </div>
    </div>
<div class="row">
     <div class="col-xs-2">
       <b>  Item </b>
         </div>
    <div class="col-xs-4">
        {{ doc.item }}
    </div>
    </div>

<div class="row">
     <div class="col-xs-12">
<table class="table">

<tr>
    <th>
        Image
    </th>
    <th>
        Item Code
    </th>
    <th>
        Item Name
    </th>
    <th>
        Qty
    </th>
    <th>
        UOM
    </th>
</tr>
    {%- for row in doc.items -%}
    <tr>
        <td>
            <img src="{{ row.image }}" width="90px">
        </td>
        <td>
            {{ row.item_code }}
        </td>
        <td>
             {{ row.item_name }}
        </td>
        <td>
             {{ row.qty }}
        </td>
        <td>
             {{ row.uom }}
        </td>
    </tr>
{%- endfor -%}
</table>
         </div></div>