<table border="1" width="100%">
<tr>
	<th>
		Sr
	</th>
    <th>
        Image
    </th>
	<th>
		Description
	</th>
	<th>
		Qty
	</th>
</tr>

{% for item in doc.items %}
	<tr>
		<td>{{ loop.index0 + 1 }}</td>
		<td>
<img src="{{item.image}}" style="width: 100px"></td><td><b>{{item.item_code}}</b><br>{{item.item_name}}
			<br>{{ item.description }}<br><b>Benötigt nach Datum:</b>{{item.schedule_date}}</td>
   		<td>{{ item.qty | int }} </td>
	</tr>


{% endfor %}


</table>